In [21]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [22]:
reviewsDF = pd.read_csv('beer_reviews.csv')

In [23]:
reviewsDF.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [24]:
reviewsDF.count()

brewery_id            1586614
brewery_name          1586599
review_time           1586614
review_overall        1586614
review_aroma          1586614
review_appearance     1586614
review_profilename    1586266
beer_style            1586614
review_palate         1586614
review_taste          1586614
beer_name             1586614
beer_abv              1518829
beer_beerid           1586614
dtype: int64

In [25]:
reviewsDF.review_overall.value_counts()

4.0    582764
4.5    324385
3.5    301817
3.0    165644
5.0     91320
2.5     58523
2.0     38225
1.5     12975
1.0     10954
0.0         7
Name: review_overall, dtype: int64

In [26]:
reviewsDF.beer_beerid.nunique()

66055

In [27]:
reviewsDF.review_profilename.nunique()

33387

In [28]:
sum(reviewsDF.review_overall.isnull())

0

In [29]:
sum(reviewsDF.review_profilename.isnull())

348

In [30]:
reviewsDF.groupby('beer_beerid').review_overall.count()

beer_beerid
3          3
4         10
5        424
6        877
7        659
        ...
77313      1
77314      1
77315      1
77316      1
77317      1
Name: review_overall, Length: 66055, dtype: int64

In [31]:
reviews_per_beerid = reviewsDF.groupby('beer_beerid').review_overall.count().to_frame('Reviews_count').sort_values(by = "Reviews_count", ascending=False)

In [32]:
reviews_per_beerid[reviews_per_beerid['Reviews_count'] > 50]

             Reviews_count
beer_beerid
2093                  3290
412                   3111
1904                  3000
1093                  2728
4083                  2704
...                    ...
20676                   51
73599                   51
11710                   51
2984                    51
3015                    51

[5091 rows x 1 columns]

In [33]:
reviews_per_user = reviewsDF[reviews_per_beerid].groupby('review_profilename').review_overall.count().to_frame('Reviews_count').sort_values(by = "Reviews_count", ascending=False)

In [34]:
reviews_per_user[reviews_per_user['Reviews_count'] > 25]

Empty DataFrame
Columns: [Reviews_count]
Index: []

In [18]:
review_per_user.info()

NameError: name 'review_per_user' is not defined

In [15]:
reviews_per_user[(reviews_per_user['Reviews_count'] > 5) & (reviews_per_user['Reviews_count'] > 500)]

Empty DataFrame
Columns: [Reviews_count]
Index: []

In [16]:
reviewsDF[['review_overall', 'review_profilename', 'beer_beerid']].duplicated().sum()

6161